.menu{
   grid-column: 3/5;
   margin-top: 2rem;
   background-color: var(--bg-secundary);
   padding:  var( --padding-l1);
}
.menu-nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu-nav img,
.footer-logo img{
   height: 62px;
}
.menu-ul{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   list-style: none;
}
.menu-ul a[href="#dev"]{
   display: flex;
   align-items: center;
   gap:  var( --padding-l1);
}
.menu-ul li a{
   display: block;
   padding: var( --padding-l1);
   margin-right: 10px;
   color: inherit;
   font-family: 'IBM Plex Mono', monospace;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 0.875rem;
   letter-spacing: .1rem;
}